_dataset_: &exp_dataset_config
  _target_: neural_local_laplacian.datasets.synthetic_datasets.PolynomialSurfaceDataset
  epoch_size: 1000
  grid_radius_range: [0.7]
  grid_offset_range: [-0.01, 0.01]
  points_scale_range: [1, 1.01]
  coefficient_scale_range: [0.9, 0.91]
  order_range: [2, 5]
  grid_samplers:
    - _target_: neural_local_laplacian.datasets.synthetic_datasets.RandomGridSampler
      num_points_range: 30
  feature_extractor:
      _target_: neural_local_laplacian.utils.features.XYZFeatureExtractor
      num_fourier_features: 512
      use_fourier: True
  diff_geom_at_origin_only: False
  conv_k_nearest: null
  pose_type:
    _target_: neural_local_laplacian.datasets.synthetic_datasets.PoseType
    _args_: ['random_rotation']
  coeff_generation_method:
    _target_: neural_local_laplacian.datasets.synthetic_datasets.CoeffGenerationMethod
    _args_: ['uniform']
  diff_geom_components:
    - _target_: neural_local_laplacian.datasets.synthetic_datasets.DifferentialGeometryComponent
      _args_: ['mean_curvature']

_exp_train_dataset_config_: &exp_train_dataset_config
  <<: *exp_dataset_config
  seed: ${globals.training_seed}

_exp_val_dataset_config_: &exp_val_dataset_config
  <<: *exp_dataset_config
  seed: ${globals.validation_seed}

module:
  _target_: neural_local_laplacian.data_modules.synthetic_data_modules.SyntheticSurfaceDataModule
  train_dataset_specification:
    _target_: neural_local_laplacian.data_modules.synthetic_data_modules.DatasetSpecification
    dataset: *exp_train_dataset_config
    batch_size: 10
    num_workers: 0
    shuffle: True
  val_dataset_specifications:
    _target_: neural_local_laplacian.data_modules.synthetic_data_modules.DatasetSpecification
    dataset: *exp_val_dataset_config
    batch_size: 10
    num_workers: 0
    shuffle: False